body
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: #fff;
}
.navbar h1
{
    padding-left: 25px;
}
.nav
{
   padding-right: 20px;
}
.nav ul
{
    display: flex;
    align-items: center;
}
.nav ul li
{
    padding-right: 20px;
    list-style-type: none;
}
.nav ul button
{
    padding: 10px 28px;
    border-radius: 50px;
    background-color: #fff;
    color: #000;
    border: none;
}